@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "IRANSansX";
        src: url("./Font/IRANSansX-Regular.woff2") format("woff2"),
            local("IRANSansX-Regular"), local("iranSansX-Regular"),
            local("IranSansX-Regular"), local("IRANSANSX"), local("iransansx"),
            local("IranSansX-regular");
        font-style: normal;
    }
}

@layer components {
    .primary-transition {
        transition: all ease 250ms;
    }
    .primaryBoxShadow {
        box-shadow: 0px 0px 8px #858484;
    }
    .btnPrimary {
        color: #ffffff;
        background-color: #a62626;
        padding: 4px 10px;
        border-radius: 4px;
        border: 2px solid #a62626;
        transition: all ease 250ms;
    }

    .hoverBtn {
        opacity: 90%;
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "IRANSansX";
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
